{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/previsao_tempo.css' %}">
{% block content %}
<div class="container mt-4">

    <h2>
        Previsão do Tempo
        {% if municipio_selecionado %}
            <small class="text-muted">
                — {{ municipio_selecionado.nome }}
            </small>
        {% endif %}
    </h2>
    {% if not municipio_selecionado %}
    <div class="alert alert-info">
        Clique em um município no mapa para visualizar a previsão detalhada.
    </div>
    {% endif %}

    <!-- Previsão 5 dias -->
    {% if previsao_cards %}
    <div class="row mt-4">
        {% for p in previsao_cards %}
        <div class="col-md-2">
            <a href="?municipio={{ municipio_id }}&dia={{ p.data_iso }}"
               class="text-decoration-none text-dark">
                <div class="card text-center shadow-sm
                    {% if dia_selecionado|date:'Y-m-d' == p.data_iso %}
                        border-primary border-3
                    {% endif %}">

                <div class="card-body">
                    <h5>{{ p.dia_semana }}</h5>
                    <small>{{ p.data }}</small>
                    <hr>
                    <img src="https://openweathermap.org/img/wn/{{ p.icone }}@2x.png">
                    <p>{{ p.descricao }}</p>
                    <strong>{{ p.temp_max|floatformat:0 }}° / {{ p.temp_min|floatformat:0 }}°</strong>
                    <br>
                    <small>Chuva: {{ p.chuva|floatformat:0 }}%</small>
                </div>
            </div>
            </a>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    {% if previsao_hoje %}
        <hr>
        <h4>Previsão ao longo do dia ({{ dia_selecionado|date:"d/m/Y" }})</h4>

        <div class="row mt-4">
        {% for h in previsao_hoje %}
        <div class="col-md-1">
            <div class="card text-center shadow-sm mb-2">
                <div class="card-body p-2">
                    <small>{{ h.hora|slice:":2" }}h</small>
                    <img src="https://openweathermap.org/img/wn/{{ h.icone }}.png">
                    <div>{{ h.temp|floatformat:1 }}°C</div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

    {% endif %}

    <div class="row mt-4">

        {% if grafico_temp %}
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ grafico_temp|safe }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if grafico_chuva %}
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ grafico_chuva|safe }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

        {% if grafico_acumulado %}
        <div class="row mt-4">
            <div class="col-mb-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {{ grafico_acumulado|safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    <!-- Mapa -->
    <h3>Mapa Climático</h3>
    <div id="map" style="height: 500px;"></div>

</div>

<script>
    var dados_municipios = {{ dados_mapa|safe }};
</script>

<script src="{% static 'js/mapa_previsao.js' %}"></script>

{% endblock %}
