/* Campos obrigatórios - asterisco */
.required-label::after {
    content: " *";
    color: red;
}

/* Campo com erro */
.is-invalid {
    border: 1px solid #dc3545 !important;
}

/* Mensagem de erro */
.error-text {
    color: #dc3545;
    font-size: 0.85rem;
}

.nota-baixa {
    border: 2px solid #dc3545 !important;
}

.nota-media {
    border: 2px solid #ffc107 !important;
}

.nota-alta {
    border: 2px solid #198754 !important;
}
